@media screen and (min-width: 100vw){
    .container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 25rem;
    }
    .boxmid{
        display: flex;
        gap: 7rem;
        font-size: 1.5rem;
    }
    .boxlogin{
        background-color: #542EC1;
        height: 5rem;
        border-radius: 10px;
        width: 12rem;
    }
    .boxlogin{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .boxloginm{
        display: flex;
        flex-direction: column;
    }
    i{
        font-size: 2.5rem;
        color: white;
    }
    a{
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
    }
    span:hover{
        transition: 0.08s ;
        border-bottom: 3px solid #542EC1;
        cursor: pointer;
    }
    header{
        height: 6rem;
    }
    h1{
        font-size: 2rem
    }
}
