.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25rem;
}
.boxmid{
    display: flex;
    gap: 10rem;
    font-size: 1.5rem;
}
.boxlogin{
    background-color: #542EC1;
    height: 5rem;
    border-radius: 10px;
    width: 12rem;
    margin-top: 0.6rem;
}
.boxlogin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.boxloginm{
    display: flex;
    flex-direction: column;
}
i{
    font-size: 2.5rem;
    color: white;
}
a{
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}
span:hover{
    transition: 0.1s;
    border-bottom: 5px solid #542EC1;
    cursor: pointer;
}